/* Font */
@import url("../fonts/roboto_font.css");

body {
    font-family:"Roboto",Tahoma,Arial;
    font-size:12px;
}

.contentWrapper {
    text-align: center;
}

#uploadArea, uploadProgressBar {
    max-width: 640px;
}

#uploadArea {
    display: block;
    padding: 10px 30px;
    border: 3px dashed #CCC;
    margin: 0 auto;
    font-size: 20px;
    color: #AAA;
    cursor: pointer;
}

#fileDetail {
    word-wrap: break-word;
}

.userRelatedUrl {
    font-size: 16px;
    font-weight: bold;
}

.my-alert {
    display: table;
    margin:0 auto;
}

.tblManage .tblManageFileName {
    width: 40%;
}
.tblManage .tblManageLink {
    width: 40%;
}
.tblManage .tblManageAction {
    width: 20%;
}

.fileSizeDownloadSpan {
    color: #AAA;
    font-size: 20px;
}